* {
    box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: rgb(220, 220, 220);
}

h1 {
	text-align: center
}
.mark-title {
	font-size: 18px;
}

.error-box {
	text-align: center;
	color: red;
	margin: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 98%;
	margin: 0 auto;
}
.top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.btn, form input[type='submit'] {
	width: 120px;
	height: 35px;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 14px;
}
.top-btn, .bottom-btn {
	flex-direction: row;
	margin: 14px 10px;
}
.btn-visit {
	margin: 12px;
}

.bookmark {
	display: flex;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: rgb(242, 242, 242);
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}
.expansion {
	width: 98%;
	margin: 0 auto;
	padding: 12px;
	background-color: white;
	border: 1px solid black;
	border-top-style: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
article {
	margin: 10px;
}

label, input, textarea {
	display: block;
	margin: 5px;
}
.radio, .radioLabel {
	display: inline;
}

@media only screen and (min-width: 600px) {
	.container {
	  width: 70%;
	}
}
@media only screen and (min-width: 992px) {
	.container {
	  width: 60%;
	}
}